body{
    background: url('/images/purple-filter-gas-station-snr88g4x8gga94jc.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

@font-face {
    font-family: consumo;
    src: url('/font/Backso.otf');
}

.central{
    width: 40%;
    background-color: rgba(161, 0, 148, 0.253);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px 15px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.central input{
    font-size: 13px;
    width: 50%;
    font-family:consumo;
    height: 20px;
    margin-bottom: 15px;
    border-radius: 20px;
}

.central button{
    width: 20%;
    height: 30px;
    border-radius: 20px;
    background: purple;
    color: white;
    font-size: 20px;
    font-family: consumo;
    cursor: pointer;
    transition: 0.8s;
}

.central button:hover{
    background: white;
    color: purple;
    transition: scale(0.8);
}

.central p{
    font-family: consumo;
    color: white;
}
