body{
    background: linear-gradient(rgb(5, 25, 115),rgb(72, 152, 255));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lampada{
    height: 300px;
}

.central{
    width: 300px;
    background: white;
    border-radius: 35px;
    padding: 25px;
    box-shadow: 15px 15px 15px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

button{
    background-color: rgb(6, 96, 1);
    color: whitesmoke;
    width: 80px;
    border: none;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
}